.ContactData {
    margin: 20px  auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px lightsalmon;
    border: 1px solid lightgrey;
    padding: 10px;
    box-sizing: border-box;

}

.Input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (nim-width: 600px) {
    .ContactData {
        width: 500px;
    }
}